body {
  background: #1d2d50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #fcdab7;
  font-size: 40px;
  margin: 20px auto;
  text-align: center;
}
#input-container {
  width: 90%;
  max-width: 850px;
  margin: auto;
  position: relative;
}

#main-input {
  height: 68px;
}
.input {
  width: 100%;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #133b5c;
  color: #fcdab7;
  font-size: 16px;
  text-indent: 40px;
}

.input::placeholder {
  color: #fcdab7;
  opacity: 0.6;
}

#addBtn {
  position: absolute;
  right: -4px;
  top: 1px;
  width: 68px;
  height: 68px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #1e5f74;
}

#addBtn:hover {
  cursor: pointer;
  background: #133b5c;
}

#addBtn svg {
  width: 18px;
  height: 18px;
  color: #fcdab7;
}

#board {
  display: flex;
  margin: 30px;
}

#board > * {
  width: 31%;
  margin: 20px;
  border: 2px solid #fcdab7;
  border-radius: 10px;
  box-shadow: 0 4px 5px #2c5e8a;
}

#board h1 {
  color: #fcdab7;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 10px;
  font-size: 30px;
  font-weight: bold;
}

.single-object {
  list-style: none;
  min-height: 55px;
  width: 90%;
  background: #1e5f74;
  color: #fcdab7;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 5px #2c5e8a;
  box-sizing: border-box;
  cursor: move;
}

.icon,
.favorite {
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  outline: none;
}

.icon i {
  color: #fcdab7;
  font-size: 1.2em;
}

.icon i:hover {
  cursor: pointer;
  color: black;
}
.favorite i:hover {
  cursor: pointer;
  color: black;
}

.favorite i {
  color: #ff5500;
  font-size: 1.2em;
}
